<div class="card">
  <h4 class="card-header">My Profile</h4>
  <div class="card-body">
      <div>
      <span class="app-toolbar-filler"></span>
      <button md-button></button>
      </div>
        <md-spinner *ngIf="!showForm" class="app-spinner"></md-spinner>
        <div *ngIf="showForm" class="col-md-12">
             <div class="row">
                <div class="col-md-4">
                  <img src="../../assets/images/user.jpg" class="img-fluid" alt="...">
                </div>
                <div class="col-md-4">
                  <label>Please Select an image</label>
                  <input type="file" id="file" (change)="setPhoto($event)" class="form-control-file">
                  <button md-raised-button (click)="savePhoto($event)" color="primary" >Save</button>
                </div>
              </div>
           </div>
        <form *ngIf="showForm" [formGroup]="formView">
          <!-- form inputs -->
          <div class="row">
           <div class="col-md-2">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" class="form-control"
                       formControlName="firstName" required >
                 <div *ngIf="formErrors.firstName" class="alert alert-danger">
                  {{ formErrors.firstName }}
                  </div>
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" class="form-control"
                       formControlName="lastName" required >
                 <div *ngIf="formErrors.lastName" class="alert alert-danger">
                  {{ formErrors.lastName }}
                  </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control"
                       formControlName="email" required >
                 <div *ngIf="formErrors.email" class="alert alert-danger">
                  {{ formErrors.email }}
                  </div>
              </div>
              <div class="form-group">
                <label for="phoneNumber">Phone</label>
                <input type="text" id="phoneNumber" class="form-control"
                       formControlName="phoneNumber" required >
                 <div *ngIf="formErrors.phoneNumber" class="alert alert-danger">
                  {{ formErrors.phoneNumber }}
                  </div>
              </div>
           </div>

           <div class="col-md-2">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control"
                       formControlName="username" disabled >
              </div>
              
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control"
                       formControlName="password" required >
                 <div *ngIf="formErrors.password" class="alert alert-danger">
                  {{ formErrors.password }}
                  </div>
              </div>
            </div>
            <!-- end form inputs -->
          </div>

          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
               <button class="pull-right" md-raised-button color="accent" [disabled]="!formView.valid" (click)="save()">Save</button>
               <button class="pull-left" md-raised-button color="primary" (click)="back()">Cancel</button>
              </div>
            </div>
          </div>
        </form>
    </div>
</div>
